@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
  /* display: grid;
  place-content: center; */
  font-family: "Quicksand", sans-serif;
  position: relative;
  /* overflow-x: hidden; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/gallery/gallery_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/**********************************************************/
/********************FLOATING ICONS************************/
/**********************************************************/

.svg-icon {
  position: absolute;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.svg-icon img {
  width: 9rem;
  /* position: absolute; */
}

.svg-icon.design-1 {
  top: 10vw;
  left: -45px;
}

.svg-icon.design-8 {
  top: 45vw;
  left: 35px;
}

.svg-icon.design-8 img { 
  width: 6rem;
}

.svg-icon.design-3 {
  top: 25vw;
  right: -55px;
}

.svg-icon.design-4 {
  top: 80vw;
  left: -75px;
}

.svg-icon.design-4 img {
  width: 12rem;
}

.svg-icon.design-5 {
  top: 112vw;
  right: 5px;
}

.svg-icon.design-5 img {
  width: 16rem;
}

.svg-icon.design-6 {
  top: 150vw;
}
.svg-icon.design-7 {
  top: 180vw;
  right: -30px;
}
/* .svg-icon.design-8 */

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/**********************************************************/
/****************************GRID**************************/
/**********************************************************/

.waterfall {
  width: 80vw;
  margin: 2em auto 12em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: row dense;
  grid-auto-rows: 10vh;
}
.waterfall .item:nth-of-type(3n + 1) {
  grid-row: auto / span 3;
}
.waterfall .item:nth-of-type(3n + 2) {
  grid-row: auto / span 4;
}
.waterfall .item:nth-of-type(3n + 3) {
  grid-row: auto / span 5;
}
.waterfall .item {
  overflow: hidden;
  transform: rotate(-7.5deg);
  filter: grayscale(100%) brightness(70%) sepia(50%) hue-rotate(-100deg)
    saturate(500%) contrast(1);
  transition: transform 0.2s, border 0.1s;
  box-sizing: border-box;
  border: 1em solid transparent;
}
.waterfall .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transform: rotate(15deg);
  transition: all 0.3s;
}
.waterfall .item.inbound {
  transform: rotate(0);
  filter: none;
  border-bottom: 1px solid white;
}
.waterfall .item.inbound img {
  transform: rotate(0);
}
