.container {
  margin: auto;
  position: relative;
  width: fit-content;
}

.glitch,
.glow {
  color: #fff;
  position: relative;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 4px;
  animation: glitch 8s 8s infinite;
}

.glitch::before,
.glow::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  overflow: hidden;
  top: 0;
  animation: noise-1 5s linear infinite alternate-reverse,
    glitch 8s 8s infinite;
}

.glitch::after,
.glow::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  overflow: hidden;
  top: 0;
  animation: noise-2 5s linear infinite alternate-reverse, glitch 8s 8s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(25px 0 67px 0);
  }
  6.6666666667% {
    clip-path: inset(82px 0 1px 0);
  }
  10% {
    clip-path: inset(9px 0 13px 0);
  }
  13.3333333333% {
    clip-path: inset(68px 0 10px 0);
  }
  16.6666666667% {
    clip-path: inset(44px 0 36px 0);
  }
  20% {
    clip-path: inset(76px 0 4px 0);
  }
  23.3333333333% {
    clip-path: inset(54px 0 44px 0);
  }
  26.6666666667% {
    clip-path: inset(49px 0 17px 0);
  }
  30% {
    clip-path: inset(85px 0 5px 0);
  }
  33.3333333333% {
    clip-path: inset(28px 0 13px 0);
  }
  36.6666666667% {
    clip-path: inset(1px 0 10px 0);
  }
  40% {
    clip-path: inset(17px 0 2px 0);
  }
  43.3333333333% {
    clip-path: inset(5px 0 31px 0);
  }
  46.6666666667% {
    clip-path: inset(95px 0 5px 0);
  }
  50% {
    clip-path: inset(54px 0 21px 0);
  }
  53.3333333333% {
    clip-path: inset(87px 0 11px 0);
  }
  56.6666666667% {
    clip-path: inset(44px 0 4px 0);
  }
  60% {
    clip-path: inset(3px 0 1px 0);
  }
  63.3333333333% {
    clip-path: inset(58px 0 11px 0);
  }
  66.6666666667% {
    clip-path: inset(82px 0 15px 0);
  }
  70% {
    clip-path: inset(70px 0 9px 0);
  }
  73.3333333333% {
    clip-path: inset(69px 0 24px 0);
  }
  76.6666666667% {
    clip-path: inset(17px 0 11px 0);
  }
  80% {
    clip-path: inset(63px 0 16px 0);
  }
  83.3333333333% {
    clip-path: inset(36px 0 21px 0);
  }
  86.6666666667% {
    clip-path: inset(47px 0 48px 0);
  }
  90% {
    clip-path: inset(84px 0 17px 0);
  }
  93.3333333333% {
    clip-path: inset(99px 0 1px 0);
  }
  96.6666666667% {
    clip-path: inset(23px 0 78px 0);
  }
  100% {
    clip-path: inset(6px 0 39px 0);
  }
}
@keyframes noise-2 {
  0% {
    clip-path: inset(28px 0 48px 0);
  }
  3.3333333333% {
    clip-path: inset(64px 0 2px 0);
  }
  6.6666666667% {
    clip-path: inset(22px 0 43px 0);
  }
  10% {
    clip-path: inset(71px 0 15px 0);
  }
  13.3333333333% {
    clip-path: inset(10px 0 48px 0);
  }
  16.6666666667% {
    clip-path: inset(95px 0 3px 0);
  }
  20% {
    clip-path: inset(88px 0 10px 0);
  }
  23.3333333333% {
    clip-path: inset(1px 0 88px 0);
  }
  26.6666666667% {
    clip-path: inset(83px 0 3px 0);
  }
  30% {
    clip-path: inset(55px 0 16px 0);
  }
  33.3333333333% {
    clip-path: inset(44px 0 25px 0);
  }
  36.6666666667% {
    clip-path: inset(69px 0 9px 0);
  }
  40% {
    clip-path: inset(24px 0 20px 0);
  }
  43.3333333333% {
    clip-path: inset(43px 0 24px 0);
  }
  46.6666666667% {
    clip-path: inset(30px 0 59px 0);
  }
  50% {
    clip-path: inset(81px 0 9px 0);
  }
  53.3333333333% {
    clip-path: inset(7px 0 39px 0);
  }
  56.6666666667% {
    clip-path: inset(100px 0 1px 0);
  }
  60% {
    clip-path: inset(81px 0 14px 0);
  }
  63.3333333333% {
    clip-path: inset(2px 0 85px 0);
  }
  66.6666666667% {
    clip-path: inset(6px 0 37px 0);
  }
  70% {
    clip-path: inset(70px 0 3px 0);
  }
  73.3333333333% {
    clip-path: inset(38px 0 26px 0);
  }
  76.6666666667% {
    clip-path: inset(29px 0 26px 0);
  }
  80% {
    clip-path: inset(29px 0 28px 0);
  }
  83.3333333333% {
    clip-path: inset(51px 0 45px 0);
  }
  86.6666666667% {
    clip-path: inset(91px 0 5px 0);
  }
  90% {
    clip-path: inset(21px 0 20px 0);
  }
  93.3333333333% {
    clip-path: inset(52px 0 2px 0);
  }
  96.6666666667% {
    clip-path: inset(21px 0 31px 0);
  }
  100% {
    clip-path: inset(12px 0 47px 0);
  }
}
.glow {
  text-shadow: 0 0 1000px #dfbfbf;
  color: transparent;
  position: absolute;
  top: 0;
}

@media (max-width: 1024px) {
  .glitch,
  .glow {
    font-size: 4em;
  }
}
