* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


body {

  font-family: 'Quicksand';

  background-image: url("../assets/header_footer/b.jpg");
  image-rendering: auto;
  background-size: cover;
  align-items: flex-end;

}


nav {

  height: 80px;
  width: 100%;
  
}

nav ul {
  float: right;
  margin-right: 20px;
  z-index:1;

}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #BAB0EA;
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand:active,
.navbar-brand:hover {
  background-color: transparent;
}

a.active,
a:hover {
  background: #efa7fe41;
  transition: .5s;
}

.checkbtn {
  font-size: 20px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .navbar-brand {
    height: 82px;
    width: 152px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #22003D;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .navbar-brand {
    height: 82px;
    width: 152px;
    padding-left: 10px;
  }

  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }

  a:hover,
  a.active {
    background: none;
    color: #360a36;
  }

  #check:checked~ul {
    left: 0;
  }


  footer {
    position: relative;
    width: 100%;
    background: #b7b7b8ec;
    min-height: 100px;
    padding: 341px 508px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10px;
    padding-top: 50px;
    padding-bottom: 76px;
  }


}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

a.menu {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  border-radius: 20px;
}





@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');



footer {
  position: relative;
  width: 100%;
  background: #b7b7b8ec;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;


}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #532E98;
  margin: 0 20px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
  color: #0f080fe1;
  border-radius: 7px;
  padding-bottom: 1px;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 1px;
}

footer .menu li a {
  font-size: 1.2em;
  color: #532E98;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
  color: #fff;
}

p {
  color: #eee;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 1.1em;
}

/*wave and animation*/
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../assets/header_footer/wave.png");
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}