@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import "./header_footer.css";

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}


body {
  height: 100%;
  overflow-x: hidden;
  /*background: linear-gradient(to bottom right,rgb(8, 2, 22),#05032e); */
  background:url("../assets/events/eventbg.jpg") no-repeat;
  background-size: cover;
}

body {
  display: grid;
  place-items: center;
 
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  padding-top: 7rem;

  max-width: 1024px;
  /*   margin: 0 auto; */
  font-family: var(--font-sans);
}

@media (max-width: 600px) {
  .page-content {
    margin-left: 150px;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 150px;

    /*   grid-template-columns: repeat(2, 1fr); */
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 890px) and (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 200px;
    /* width: 100%;
    height: auto; */
  }
}

@media (max-width: 1150px) and (min-width: 900px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 150px;
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 300px;
  text-align: center;
  margin-left: -150px;
  margin-right: 170px;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 900px) {
  .card {
    height: 590px;
  }
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, hsla(0deg, 0%, 0%, 0) 0%, hsla(0deg, 0%, 0%, 0.009) 11.7%, hsla(0deg, 0%, 0%, 0.034) 22.1%, hsla(0deg, 0%, 0%, 0.072) 31.2%, hsla(0deg, 0%, 0%, 0.123) 39.4%, hsla(0deg, 0%, 0%, 0.182) 46.6%, hsla(0deg, 0%, 0%, 0.249) 53.1%, hsla(0deg, 0%, 0%, 0.32) 58.9%, hsla(0deg, 0%, 0%, 0.394) 64.3%, hsla(0deg, 0%, 0%, 0.468) 69.3%, hsla(0deg, 0%, 0%, 0.54) 74.1%, hsla(0deg, 0%, 0%, 0.607) 78.8%, hsla(0deg, 0%, 0%, 0.668) 83.6%, hsla(0deg, 0%, 0%, 0.721) 88.7%, hsla(0deg, 0%, 0%, 0.762) 94.1%, hsla(0deg, 0%, 0%, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUVFRgSFRUYGRgYGBIYGBkYGBgYGRgSGBgZGRgYGhgcIS4lHB4rHxgYJjgmKy8xNTU1GiQ7QDszPy40NTEBDAwMEA8QHhISHjQrISQ0NDU0NDU0NDQxNDQ0NTQxNDQ0NDQ0NDE0NDQxNDQxNDE0NDQ0NDQxNDQ0NDQ0NDQ0NP/AABEIALEBHAMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAADAAECBAUGBwj/xAA+EAACAgECBAQDBQUHAwUAAAABAgARAxIhBAUxQQYiUWFxgZETMkKhsRRSwdHwFRYjYnKC4QeS8TNDU7LC/8QAGgEAAwEBAQEAAAAAAAAAAAAAAQIDAAQFBv/EACcRAAMBAAIBBAICAgMAAAAAAAABAhEDIRIEMUFREyIjYaGxFDJx/9oADAMBAAIRAxEAPwDxySWNHWMgEooooRRSSiREmJjMePGjiYBJRJRCKEApMCMokoQDiEURlEkBCAQEIBEBCKsKQBgskFklWTAhwGkQsmFkgsmEmwGkAkcJChJMJNgNAhI+mFCR9M2G0DpjFYfTFpmw2lfTIlZYKyJWbDaAKyBWHKyDLANoAiRZYZhIETBIY8TOwRVLMeiqCxPfYD2EMOV5zuMGUj1GNyK3N3XTY/SS4LiDjyJkHVDYqrv5giaf94n8vmfyggAFQKKspsVTbM3W+t9YrCsMXiOCyoLfE6C9NujqNVXpth1repW0za5vzp86DGxY+cOdRU+fSVuwL6GvhMeYJjySyMmIiHFFFFCYdRJxhHmAPJKJGEEKAKOojSaiEDHk0EZFJ6S0uD13/SFIDYECFXGZbPCEKHrZiwG46rV7dR1EdcRjYK6K6YjDDCRDJhlnHw43s1QNe59IVIropLiMmMZl9cOx3Oq1oVYI3uz1Hbau8kqX22+EbAeRRVJNUlz9l9JE4SJsBoALJhIRVkgs2A0EFj6YbRFU2G0AVkSssFZArNhtAFZFllgrBsIBtAESBEORBsIGHQDCQYQzCDMUZAiJBhCNINMEGZGpORMATFEnIrJyaKDRCKOsJiUeKKEUksnIrJTAHUSzw3Cu5pQaALH2UdSfQQWHHc1uFLJelqsMprurbEH2jJC0wWHBXSWsKAbkX97bpW2xv4/p7y9w4xLjdWBbIfszjZSNCr1fUPWiB7G5WUdOncfHvvHSJt6JE9r/AK2ljDwxNnbygHqAeoGw7nftN/w9wOF0dW/9QhfsrIC31bVfahKnDoqZFZwSoZSwGx0g70fWOkI6KOG0YMpIKkG9rBB2qWeW8KXbylAUBclyNOlaO4I83w3v0j8yKHIzIpCEuVB3IX8IJ+lwScK3TSbtABXUuLXr67fWbAaQ02f6E0+WqdQtWKBld17Uvc17Mwv3lREonbuQN7rf1HWbfF8Lkx4sWMsunJ/iLVA09A629Nhsdo2AbK/iBsL5mbCNKUNIUVvp9D080yseY9CB3HQfC/jLZxXsff61t8rkG4cCh5T1Jo71dVv8L6d5vEHkM/AWARQJGoD1H8DKZSjR6zSTAQoYMLN7X0quo7f8Q78L9qLX76jp+8PT4+82A8jGqIiTIkTBg2kDIGEYwbGYKIGQaSYwTGKMiLSDGOzQbNFGRFjBtHZoJmijIZjIMYmaQJmGETIXExkLgCZiyUYR4hQaSWRklmMyUQiiEIoRYTHjuQQXtNHhsYG9fy6QpCtj4cdS+iIFB1WSGsAHym6AJPWxvtApt269/bvD4m69dxQqutir26bR0ibJ/aGwSd9voBQ/KSyWuMZl0suspViwVCmyvXT5gL6XtIuyAM7hjRHl6BmIOxbtvvQHSxtK/DcuyZ2rErZH8upcaM2ldAKszfdUXa7nqpj6ktYPd4jQ5PzBjkTU1LqUsK7Xv+U6HxLzBRxDnCqNiIKqKNUUosKrvuJjL4W43Eut+GyAUOi6/mdBNR8dGugsbrbWCtbm/Xc1KR42tT05uZuH7CwEN1B6Hoem2xO3QGrlhR0NG+oNn7o2FfAg7/ymhw/DgAMAPw73uCT23sHb84biuAAp1FKa1Adj1FegIvbsQfaPU4Qj1KqvFlZ2CgImhgpY6wpDNrUAg6uw3rb1MkhJAB7H5/8Aj+cPxeBNVoGCGyuognT03rvcfhsNsF2FkCzsBZrc9hAizo2OF5GrcOeIvcGtPqbHf5zJ4zB52IU7USCumhSiio6CyAPlOh5RwrOxxLk0lbpgbB0+hH1v3mblxaHYhwCuutW4NbUOu5uKvdmb6Twy8eKiFB3OnckafN6n5j4byziQq1qaZTV9R/yIkQ71vsDsOlV9PlCYVYLr0+TUATX4qJAv4XtGaF0p864PUn7QgqiFyD0Y7Bvn0+kwiZ3GDTdN9xwUcHppO2r2q+s4risYR2RWDBWYBh0ZQSA3z6xSkvorsZBmkmME0VjogzQbNHcwTGBlEMzQbGJjIMYjChiYImOxg2MUdCJkC0ZjIkwDCJkLiJjQGKUUUaKUFJrICTmMx4hFJIIRTR5Xwpcs3ZQPqf8AwZe0VOv8L8hP9lniQLL5cj7jpjS0B+qmvjOd4nEAaBvygn29viBKSlhKm9wqlCDRq7rYg9PhtUsIxUadWx0Oa/eAOnfrY1Hp6yIwhnISyLIWxTFe1gXvXaa3LuSZczBMalmN7ewNWT2jIVspcPy852TGSVRVOTI/enahpv8AEQFA+Z7Ger+FeGx48flQIi3Sj8ye7MfXqfpMrLyDLgwo7KNQGBXGxBXElKprtbP8bnQ+FcgZCCo3JI9qPQX2Fied6zaTSfSOzgSmdztmsOKYbnE+n4qWr10A3Xw39pi+IvDeDiK4hRTCmZkAt8fc13atwe/T0rpxIYcIWwOhJIHoT1r52fmZzem5L46WG5Ym5aaPG1yJrKofLbaSdjpF0SOxoTpOT8vOZCnf+RsdfcfnMnmXLmTieIAHlxsz9rAYgpseu7LB5/Fh4HCzgD7ZvKiEGhtu7Adltdu5IHqR9Hd/x+SPnZ4f5VP9kuecRh4NqzMAd/KLLNX7oG/z6TksnjgBvJg1CiBrajZBAOlfQ79e0zuH4LJxTnieIyMdRJLMfM+/X/KvoB26ToeF4NEGlFVf9I3Pz6mc6d32ukem54+Pp9szOH8d503bAtexdfzNzb5f4rw8SyobVzQCtXmN9Aw2J370ZFcTAhihYAi1IbcehmHzXl2PKzPoVGJJtBpCm+mn0H9Gb95+dB/Ffxn/AIdqW0FlIF9NxuCCDYvodq+ZguI4tMaa3al613vtQ7n4TisfOuMxgIXVtJ2Z0V2IGwtjuw27ypxPFPkYM7liBQugAPQKNhC+ZZ7dir073t9GxzTnb51ZBa47+7tbf6vb26fGambBjPDYciMS5UDOpN6HbVoPTYMEc1/lnJYtbMMaLqZuij9SewHrPSeV8nXHwGfGSGyEpmd/Vk6gDsqqGA+PvEl03pTkUTKRyTrBOJcdJXdJZommVHEEwlllgXWIx0yu0E0Mwg2ERjoEYIwrCDYRR0DaQMI4g4AogY0cxoBinGiklEUcdRHiiAhAOohIwEcCYU+g+U8OF5Pwy114fC1Ud2dNfb1LTyvmmHTkO3SvrPXuX8Sqcq4VmCkfsvCij6/ZL0955bzDIrDe9epyWJ2KeUKqiru76mPx+xPk/wCxX5fq1KALIOrTdWf5z3LkPCY1TWmMJr7XZAGw396v4meEcM5VlPownufhXjVy8OhU9BRF2QbM3J7G4s8jWz4g6lGFgggj2M4fDxC4MtqxIVmBUg2uO9rPQ9SNvT3na8XnCIzsdgCZ5Bx/OCQRoXXezi70i9qut7A9KE5qnyWHVuHreDOrgMpsHoZYAnlnJ+aOSdLMjCywBtaXqSN/0M6nhOc5yCTpoAsxKk0gFk7GztvsJzKVND5q6L/OPD65j9oDpyUFugQVBB3HY7bMNx7zwPxBnHF8dkIJbGGJuwdWNT5DYH4gdX+8+k9q5n4uwrhzAZQcgxZCNKNpD6CV83xqeEclI1ZH9WofAdP/ALTu46p5L3P7OWpiduc06vlfCNlcY0oEg9egA/hdCdMnDpjCKyUVoPuQ70dwT2PaQ8AclOdcmcNpKOqLtany6mB/7lm54rwsjKxAGoMtAegXe/ckzsmpdeO9nmci5Fra66x/7Oe1i+w6mzdjY7X/AF1i47lWJ8Gouoym2WrJ0igFYDYE2Tv2HvAOe/rLWDEwDuK/w61bqep0gC+vU9Jap1EZtp6jz7jx1BFFfyI6iVuF4R8pIxjYffY9B/M+w/Ibza8Y48YyI2O/PjQuD/8AKGZWr20hfzkeS8Uf2dMe1Kcm9C+pHXuKAnKo8r8Weh+Rzxql8mpyzly4PIu7sQCxHma+hs1S77CdVyfIdDI9+dXUE3RUoV2/rtONz8U7NqLFmpdzZNAAAb+gFfKbnh7imyOg3oeX/aK/OdDlJYjldNvWZuTFKuTHNrLhlLLigaGmjIdJXdZpZMcqZEk2i00UXWBcS26QDrEaKplVxBsJYYQLCIx0BMGYZhBsIBkDcSEKwg4AlNVkopICIOMBJgRwI4WEAwEIBEBCKsIp6ni5mTyrh+4VceOjvumpf/z+k5cYiy699yflD+H8xfg3xdSjnYdQj+a/+7VCeH84LvhYddx8R1lZXRCm9bC4crUToS2VFI0AABBQYf5utn3M9e8Kgfs2M0AdNGgBdE0TXep5/l5cCBtVAHfYkE7H36zpvDXMPsgcbbrdibknZ6NxWlWs6fmfAjMhQgb+t/wnm3ibw+MLCu4Y+oJuvlsR/wBs9Rw5Qyhh0IsTnvFPA/anGoqzqG5AG1d/mZxV01h3rtHD+HeVvlyVeyqST6DsPmf4z0/hOECrooVXSpz+LnHCcJjD58y4yqqraj5m06qVEHmbv0E5DnX/AFTyZLx8DgI6/wCLmFmulrjHQdDbH4iRfHVXq+DeWTjAeOExYMeVAyh0Z8P2ewYh8YOJwOpGggHsNHtv5vyl9JdD1DX9dj+i/WXuPXNmduJzOXdtRZ3u6QdLoKB0AC7biY+RXU/a0a6N6Uel/wBdhO5Olm/BzKZxpfJ6X4I5zlxh8eNiPMHI6g7BTsfgs6DmWfLmIfIa20rtSgH4fnPK+V8wbG65EIJG9dmXup9jPUeW89xcYmPFqVCv4W2YX1/1D3H5To46ndzs4PURa+Xn18aUxwDOGKi9O5quhNDb41AVosV95aFgevXcex6TW4tjpVdOmgbbca7Ngm/apyniDn2LGpTE2vJ0HTSoI3JIPUNe3fvU6XalazimKuvGUc94n4oHJpBFINJr977x/UD5GG5WmnElmrVj3IGosQPzEwMGBs2QIDuSSzei3ux/rqZ6Ei4sunCpXCiYjZcAlnAXUQasXpWh239TIcTdU6PQ5koiYRz2U0QNwf8Anedb4OSmsdlyMx+A2/h9Zyz5NeXVpAACgBRQ8o7+5qz62Z3Xh/hNAb3QD6kf8yr9mc7eYgWfFKGfHN3iMczc6QGRiZsco5UmxnSUMyQMtJmZElZ1mhkSVXWSaLSUXWBdZcdZXcRGiiZWYQbCHeCaKx0BMhCGQJijIrqseo8moijEQkIFjqJNRCKMqwirHVYRVjIzZq+GeYHBmDfhbyt8PX6X9Zp86cYsiZU289uBVH0/UznEEv8AG8eDhIZWJAA2o177n4Rk+iVTtHqnK2V1XI5DbALq821bCouN4dsVEqQCLF+nqZ5Bw/jHNjRcaKtrtqcltu3lFAfnM7m3iDi+LN58zuAAACdKADp5FpfyivkSfQVwN+57Bg/6jcNwqtjyMchBJRcVMQSd1JsKBe/Wxvt0nK878e8VxxIxKvD4wOxD5DvX32AUXqHQbV1nn/C8K7EAAn2AnU8p5Pob/FbSavRWt27isY3Ybekkkm9aLNuZxPso4eD1M7teRh1ZizFm7eY7n59rPabScDlKq1BFHUilq6s30B8vX4zd4TgbBIx6Sej5NyDY3CKdxW1Flr0M6/w/yFCRkzL9owIKHKAVQdbRK0jqKar941XML7JqKt99HGcq8L5eIJONC6MQTkY6MRGxFOQWyCu6hgSNyDNPn/gHTg82RmrrpUIi2KVgm5IF0QxPXap6pqlfiUV1Kt0I/oj0Mmudt6119BriSXT7+z5c5hy3LwzaXWhex30t7qf4HeSXjtgT8fMK3H5T2bnPKVBOJwrK2+4LKFJoahRr8695yHE+DuHJNa8Zs/cfyn6givhOpcTa2X0zn/5U+3IsaOKycczDzMSOw1eX6QXD4nytoxKWPqOgHqT2E7hPCvDKPN9pkrprc0PkoEtNhXGuhVCL1pQAPjQjz6em/wBmTv1vHK/Ra/8ABi8v5cuBSL1M1amHf/KPQS0jgsS51eVgNT6d9JAOr2613qpLMTYNWBVjpY22JHT/AJmbx+TSCAbBNCroj5zpaUTi9kcidclbT7Ze8PcN9q/rZFAAmyev5T1DBwwC7AC9qHoBX85x/gbhAaIHmBNntRAoV277z0B1AFDoBUlTzEOltNmLxGKZvEYpt8SZlcS4mTNhjZ8UzeIxzV4hxMriHmKSZ+VZUeW8xlRwYlF5KuSV3Msuhld8ZiMqiq5gmll8cE2OIx0V2MFLDY4P7OKMQAjhZJRJAQBGAhFEdVk1WFAGUQqrEEhVWEVsdVhhjsV6giRRYdFjIRsxc3BgNZRgO9MpF+xvp8pr8u5GHYbIoPdmZyP9ooeneFzYbEhwHElD9mx/0n1EHihndZ0dZynkeBQQ7ux7BD9koP8As8/yLTVZFBCpjRAKBCIF1H95q3Zje5MwOH4zoe/eanDcY4YZFIBWmBtdqO3l79OkCjsm7fyaKUoBYA2fWjQ6j269Zq8t5hQAJ/FfyofynM5OKZvvHuTv1F7n5bk/OWOE4uiSQDYYG9+33viJq4lSMuZo7/NzEUtCyf16QX7Va2fX8/Q/Sc1wHMVAYOxHlOihYDe4+UR40ggN5b0ne9gw1A18N4i4cErlbempz9/8IVtbAH/Mu5r6i/lOaZz+v5CXeK5qjKcbHWb8hBICtdElfcH9Zi5eIXR+LXZvpp0V9bsH2nZwy5nGcnN+zD52UayGsIPKdP3rYDcfh2JO8xuLz2B5a99/N2ljicgGkkJT66snYE6QWo7UenrXeYuVz1/re/5GXTIqNL/BZcRVkZWLOVCshG3msjT+K9u859QXevQ7V6w/EZG1/Zk6WYrZNjSDVMfkbmnyjCmJyxYNRIUi9Jo/e37RW9eFpXgt+zvPD+EYMSlvvsBfsJZz8w9JzH9plu8Ljz33iue9YqbNHPxZMpZCWljh8YPWa3DcEpgbSHlac0eFY9pH+yGPaegcNy1PQTRx8Ag7CRrlSOmOF17Hlv8Ad9z+GI+FnP4TPWRwyjsJP7Megk3zf0WXp39nkLeFH9JWy+GHH4T9J7MyL3AlHi3xAb1AuTfgz4nPyeM5vD7DtM7PykjtPUOZ8Vi36TkuYcUm9VKe5PyaZxubg6lX9nmzxfEKZmvlFxGkVTZkLJqJECEWIUJASYkQJMCMYKphVqBUGFUGYRh1EOglZAYdUb0jIVlpFgOL5dq8y7N+v8jCorS7ixMe0fNE3DP4TjginG6kNfcDTVGzfr0m/wAr4rGQ+vUSV8lEbPtu19quNj5SX2Kgj3HSF/uVm64Go/uk7fntNmCtpid77dgAPQX+v85FEZhsNtSrdbazekX70fpBZ8XHcOpTJwwYfv6WDD4MDpmY/Mj+JHU/Da/lHVIRwzb4lmRij/eU6WAI6jqL6RPxjnGVH3VbWWrzCwFFt2UfqZh/2imk3q1Wuk71p31AivXT9JBea0CodgGFMBdMLuj67gGboXxZpPkKhT2bce9bHv63IftIFkWAbHXeqO1+nS5lHivRSflI5czsNl07m/Stqr8/yj6DwLfEcSKHbYgm+pG/8QJl8RzCzS7mqvoAK9Yn4UndiT+kC/C/L2gqqfsGZle5HHko2TZlpONPrKDpXeQuIqaKOFRt4+Y+8uYOa13nMgmOHIh82L+NHbYOeAd5o4PEld552MrSQztA6D+I9RxeLq/FLS+Nq7zyX7dveP8Abt6xW19DKWvk9Zbx37yrm8dt2M8v+2b1kTkaL+v0PlfZ6BxPjVz+KY/E+J3b8R+s5QuZBmMGjKEbfEc5du8z8vHse8okwbQOmMoSLD8QTAnLBmQi6MkEAkxBrJiAIZTJqYEQiiMBlhTJrAKIZB3mFZYQy1jye8z1MMrxkxWjTxZd6m1wGRdrrrOXR5e4bPHTJ1J6LyrNj2uvlOr4J8fap5Lw3HafWanD87rfUYKnQTTn4PVwQZUz8rwP97Djb4ov61OGweJKqmP1lk+La/F+cl+Jr2Zf88tdo6HL4U4M/wDsIPhYmdn8DcOfu+X5AzP/AL4GAfxc0dRa+SdXxv4CZvAijo/5ATK4nwiV6GHfxMT3P1MpPz9r+9Kz5fLIVnwijxHIGEzs3IHM1MnN2PeCHMT6xxf2MR/D7SI5CZttxdyJ4ibEHyoyByaP/Y80jxEg2eDEFOjMblgEE3AATRfLKzvA0h1pSbhRBnAJZd5Xd4jKIE2IQTLJu8E7xWMiLAQRjs0GxisdIZmkGMZjIMYoUOzSEa42qAYMsIsUUwCYhViihQGTEmseKEUkIRYooUBkhC44ooyFZfxdIRekUUcmyZ6xNHihFCY4niijABNIxRTGGaKKKExNJOKKYBBpFoooAoA0BkjxRWOitkgWiiisogLwDxRRGMgRkGiiijgzIGKKAJBpGKKKFH//2Q==);
}

.card:nth-child(2):before {
  background-image: url(https://flxt.tmsimg.com/assets/p17013124_b_v13_ab.jpg);
}

.card:nth-child(3):before {
  background-image: url(https://en.opisanie-kartin.com/images/2/image1943.jpg);
}

.card:nth-child(4):before {
  background-image: url(http://www.ramco.com/hubfs/RPA.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content>*+* {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;

  color: #FFFFFF;
  font-family: 'Corinthia', cursive;
}

.copy {
  font-family: 'Corinthia', cursive;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  color: #FFFFFF;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: #532E98;
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }

  .card:hover .content>*:not(.title),
  .card:focus-within .content>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content>*:not(.title) {
    transition-duration: 0s;
  }
}

@media (max-width: 300px) {
  .card {
    width: 225px;
  }
}